body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5383e9;
    color: rgb(0, 0, 0);
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: white;
}
section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    width: 1080px;
    margin: 10px auto;
}
div#resposta {
    padding: 10px;
    border-radius: 10px;
    background-color: #6294ff7c;
}
div#retornoCopia {
    display: block;
    position: absolute;
    top: 334px;
    left: 1195px;

}
input#botaoCopiar {
    display: inline-block;
}
p#linkMaterial {
    display: none;
}
p#comentarios {
    display: none;
}
p#txtPercentCSAT {
    display: none;
}
p#qtdComentarios {
    display: none;
}
p#qtdAvaliacoes {
    display: none;
}